html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Open Sans", sans-serif, Helvetica, Arial;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #fff;
}

.github {
    position: fixed;
    z-index: 50;
    height: 100px;
    width: 100px;
    float: right;
    right: 0px;
    top: 0px;
}

.header {
    position: fixed;
    z-index: 1;
    height: 460px;
    width: 100%;
    margin: auto;
    text-align: center;
    background: url('img/bg-china.jpg') no-repeat;
    top: -1px;
    background-position: center;
}

.header p {
    margin-top: 120px;
    color: #FFF;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    line-height: 50px;
}

.dllinks {
    color: #FFF;
    margin-top: 55px;
}

.dllinks .top {
    font-size: 12px;
    opacity:  0.7;
}

.dllinks a {
    color: #fff;
}

.dllinks a:hover {
    color: #ddd;
}

.wrapper {
    position: relative;
    width: 100%;
    z-index: 5;
    margin: 460px 0 0 0;
    background: #fff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.box {
    min-width: 300px;
    float: left;
}

.float-right {
    float: right;
}

.features {
    margin: 50px 0 0 0;
    font-size: 20px;
    line-height: 50px;
}

.features span {
    width: 30px;
}

.features.right {
    min-width: 220px;
    padding-left: 50px;
}

.screenshots {
    position: relative;
    top: -100px;
    height: 400px;
}

#slideshow {
    position: relative;
}

.clear {
    clear: both;
}

.phone {
    position: absolute;
    left: 0;
    width: 300px;
}

#donate {
    margin: 50px 0 80px 0;
    text-align: center;
    height: 50px;
    font-size: 12px;
}

.bitcoin {
    padding: 8px 0;
}

.footer {
    text-align: center;
    height: 90px;
}

.footer a {
    color: #000;
}

.footer a:hover {
    color: #777;
}

@media (max-width: 899px) {
    .box {
        width: 100%;
    }

    .screenshots {
        top: 0;
        height: 450px;
    }

    .features {
        text-align: center;
    }

    #slideshow {
        width: 300px;
        margin: 0 auto;
    }

    .features.right {
        min-width: 300px;
        padding-left: 0;
    }
}
